$hc-blue: #0275d8;
$hc-blue-lt: #0283f1;
$hc-white: #fff;
$hc-white-lt: #f7f7f7;
$hc-orange: #f0ad4e;
$hc-orange-lt: #f4c37d;
$hc-red: #d9534f;
$hc-red-lt: #e27c79;
$hc-black: #292b2c;
$hc-black-lt: #4e5254;
$hc-green: #5cb85c;
$hc-green-lt: #80c780;
